<div class="login-container">
  <h2>Log In</h2>
  <span *ngIf="errorMessage" class="errorMsg">{{ errorMessage }} </span>
  
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" id="username" formControlName="username" required>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password" required>
    </div>
    <button type="submit"><b>Log In</b></button>
    <div id="link">New to site? <a href="/signup"> Click to Sign Up!</a></div>
  </form>
</div>