
.log{
    position: absolute;
    top:0.5em;
    left:0.5em;
    padding: 1em;
    margin:0;
    border:none;
    border-radius: 10px;
    outline:0;
    color:white;
    background-color: #000;
    font-size: 1em;
    transition: 0.4s;
    z-index: 1;
}
.log:hover{
cursor: pointer;
}
@media screen  and (max-width:800px){
    .hide{
      display: none;
    }
}